:root {
    --primary-font: "Figtree", sans-serif;
    --bg-color: rgb(244, 208, 78);
    --card-bg-color: rgb(255, 255, 255);
    --dark-gray: rgb(17, 17, 17);
    --light-gray: rgb(107, 107, 107);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
}

body {
    font-family: var(--primary-font);
}

.container {
    height: 100vh;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    width: 20rem;
    background-color: var(--card-bg-color);
    padding: 1.5rem;
    border-radius: 1.25rem;
    border: 1px solid black;
    box-shadow: 8px 8px 0 0 black;
    transition: box-shadow .6s ease;
}

.card:hover {
    box-shadow: 16px 16px 0 0 black;
}

.card:hover .card-title {
    color: var(--bg-color);
    cursor: pointer;
}

.card-image {
    width: 100%;
    object-fit: cover;
    height: 12.3rem;
    border-radius: .625rem;
    margin-bottom: 1.5rem;
    border: 1px solid black;
}

.label {
    background-color: var(--bg-color);
    align-self: flex-start;
    padding: .3rem .75rem;
    font-size: clamp(.75rem, 0.70rem + 0.25vw, .875rem);
    font-weight: bolder;
    border-radius: .25rem;
    margin-bottom: 1rem;
    
}

.card-date {
    font-size: clamp(.75rem, 0.6rem + 0.25vw, .875rem);
    margin-bottom: 1rem;
}

.card-title {
    font-size: clamp(1.25rem, 0.98rem + 0.6vw, 1.5rem);
    font-weight: bolder;
    margin-bottom: 1rem;
    color: var(--dark-gray);
    transition: color .5s ease;
}

.card-information {
    font-size: clamp(.87rem, 2vw, 1rem);
    line-height: 1.5;
    color: var(--light-gray);
    margin-bottom: 1.5rem;
}

.profile {
    display: flex;
    align-items: center;
    gap: 12px;
}

.profile-icon {
    width: 2rem;
}

.profile-name {
    font-weight: bold;
    font-size: 0.875rem;
    color: var(--dark-gray);
}




.attribution { 
    font-size: 0.6875rem; text-align: center; 
    background-color: var(--bg-color);
    font-weight: bold;
}

.attribution a {
    color: hsl(228, 45%, 44%); 
    font-weight: bold;
}


@media (min-width: 750px) {
  .card {
    width: 24rem;
  }

  .card-image {
    border: none;
  }

  .label {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 25%);
    border: 1px solid black;
  }
}